@import url('https://fonts.googleapis.com/css?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --sections-color: ;
    --bg-color: ;
    --text-color: ;
    --span-text-color: ;
    --shadow-color: ;
    --contact-icons-color: ;
    --sun-display: ;
    --moon-display: ;
    --email-hover-color: ;
    --reddit-hover-color: ;
    --twitter-hover-color: ;
    --telegram-hover-color: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

*::selection {
    background-color: var(--contact-icons-color);
    color: var(--text-color);
}

body {
    background-color: var(--bg-color);
}

body i {
    color: var(--text-color);
}

.theme-switcher {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--sections-color);
    box-shadow: 0.15em 0.25em 5px var(--shadow-color);
    font-size: 35px;
    z-index: 100;
}

.sun {
    margin-top: 5px;
    margin-left: 7px;
    display: var(--sun-display);
    color: var(--text-color);
    transition: all 200ms ease;
}

.moon {
    margin-top: 5px;
    margin-left: 7px;
    transition: all 200ms ease;
    color: var(--text-color);
    display: var(--moon-display);
}

.content-wrapper {
    margin: 5% 5% 5% 5%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: var(--bg-color);
    z-index: 1;
}

.content-wrapper h2 {
    margin-top: 7%;
    margin-left: 7%;
    padding-bottom: 3%;
    color: var(--text-color);
}

.divider {
    width: 100%;
    height: 100px;
    background-color: var(--bg-color);
}

.books-section {
    z-index: 1;
    background-color: var(--sections-color);
    display: grid;
    box-shadow: 1em 1em 0.7em var(--shadow-color);
    color: var(--text-color);
}

.websites-section {
    z-index: 1;
    background-color: var(--sections-color);
    display: grid;
    box-shadow: 1em 0.5em 0.7em var(--shadow-color);
    color: var(--text-color);
}

.tips-section {
    z-index: 1;
    background-color: var(--sections-color);
    display: grid;
    box-shadow: 1em -0.5em 0.7em var(--shadow-color);
    color: var(--text-color);
}

.material {
    margin: 5% 5% 0% 0%;
    display: inline-flex;
    color: var(--text-color);
}

.material:last-of-type {
    margin-bottom: 7%;
}

.material-title {
    margin-left: 7%;
    width: 50%;
}

.material-info {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    width: 50%;
}

.material-download i {
    font-size: 32px;
    color: var(--text-color);
}

.books-section .material-download i {
    transition: transform 200ms ease;
}

.books-section .material-download:hover i {
    transform: translateY(25%);
    transition: transform 200ms ease;
}

.websites-section .material-download i {
    transition: transform 200ms ease;
}

.websites-section .material-download:hover i {
    transform: translateX(50%);
    transition: transform 200ms ease;
}

.material-rating h4 {
    font-weight: bold;
}

.material-rating p {
    color: grey;
}

.material a {
    font-size: 32px;    
    color: black;
    text-decoration: none;
}

.contacts-section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    height: 400px;
    z-index: 1;
    background-color: var(--sections-color);
    display: grid;
    box-shadow: 1em -1em 0.7em var(--shadow-color);
}

.contacts {
    margin-top: -4%;
    margin-left: 10%;
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    transition: color 200ms ease;
}

.contacts i {
    cursor: pointer;
    font-size: 64px;
    color: var(--contact-icons-color);
    transition: color 200ms ease;
}

.contact-email i {
    font-size: 60px;
}

.contact-email i:hover {
    color: var(--email-hover-color);
}

.contact-twitter i:hover {
    color: var(--twitter-hover-color);
}

.contact-reddit i:hover {
    color: var(--reddit-hover-color);
}

.contact-telegram i:hover {
    color: var(--telegram-hover-color);
}

.contacts-section h3 {
    margin-left: 7%;
    margin-top: -1%;
}

.contacts-section span {
    background-color: var(--contact-icons-color);
    color: var(--span-text-color);
}

@media (max-width: 768px) {

    .content-wrapper h2 {
        margin-top: 10%;
        margin-left: 15%;
    }
    .material {
        display: grid;
    }
    .material:last-of-type {
        margin-bottom: 15%;
    }
    .material-title {
        margin-left: 15%;
        padding-bottom: 5%;
        width: 100%;
    }
    
    .material-info {
        display: grid;
        margin-left: 15%;
        grid-template-columns: 33% 33% 33%;
        width: 100%;
    }

    .contacts {
        margin-left: 15%;
        width: 70%;
    }

    .contacts-section h3 {
        margin-left: 15%;
    }

}

@media (max-width: 540px) {

    .content-wrapper h2 {
        margin-top: 15%;
    }
    .material {
        display: grid;
        margin-top: 15%;
    }
    .material:last-of-type {
        margin-bottom: 15%;
    }
    .material-title {
        margin-left: 15%;
        padding-bottom: 5%;
        width: 80%;
    }
    .material-info {
        display: grid;
        margin-left: 15%;
        grid-template-columns: 33% 33% 33%;
        width: 100%;
    }

    .contacts {
        margin-left: 15%;
        width: 70%;
    }

    .contacts i {
        font-size: 48px;
    }

    .contacts-section h3 {
        margin-left: 15%;
    }

}

@media (max-width: 414px) {

    body {
        background-color: var(--sections-color);
    }
    
    .content-wrapper {
        margin: 5% 5% 5% 5%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        z-index: 1;
    }
    
    .content-wrapper div {
        box-shadow: none;
    }
    
    .divider {
        display: none;
    }

    .content-wrapper h2 {
        margin-top: 15%;
    }
    .material {
        display: grid;
        margin-top: 20%;
    }
    .material:last-of-type {
        margin-bottom: 20%;
    }
    .material-title {
        margin-left: 7%;
        width: 95%;
    }
    .material-info {
        display: grid;
        margin-left: 7%;
        grid-template-columns: 33% 33% 33%;
        width: 100%;
    }

    .tips-section h3 {
        margin-left: 10%;
        width: 80%;
    }

    .contacts-section {
        height: 450px;
    }

    .contacts {
        display: grid;
        justify-content: space-around;
        grid-template-columns: auto auto;
        margin-left: 15%;
        width: 70%;
    }

    .contacts i {
        font-size: 48px;
    }

    .contacts-section h3 {
        margin-top: 10%;
        margin-left: 15%;
        width: 80%;
    }

}
